# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# TypeScript
*.tsbuildinfo

# ESLint cache
.eslintcache

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Drizzle ORM
drizzle/

*storybook.log
storybook-static
